/* Section Hidden Control */
#sec_bio {
    /*display: none;*/
}

#sec_publications {
    /*display: none;*/
    margin-top: 24px;
}

/* Main */
.main_area {
    /*background: #fafafa;*/
}

.main_title {
    display: flex;
    justify-content: space-between;
}

.main_title_link_group {
    display: flex;
    gap:10px;
    padding-top: 28px;
    padding-right: 4px;
}

.main_title_link_group a {
    font-size: 18px;
    color: #121F27;
}

.main_title_link_group a:hover {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: none;
}

.section_title {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.custom_footer {
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.custom_footer_message {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
}

.bio_content {
    font-size: 16px;
    padding-top: 6px;
    padding-left: 24px;
}

/* Links under Avatar */
.avatar {
    margin-bottom: 10px;
}

.link_under_avatar {
    display: flex;
    justify-content: space-around;
}

.link_icon {
    color: #121F27;
    font-size: 24px;
}

.link_icon:hover {
    color: dodgerblue;
}

/* News */
.news_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*padding-left: 12px;*/
    max-height: 84px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 6px;
}

.news_container:hover {
    overflow-y: auto;
}

.news_item {
    display: flex;
}

.news_date {
    padding: 0 4px 0 4px;
    font-size: 16px;
    border-right: solid 2px lightgray;
    margin-right: 6px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.news_text {
    font-size: 16px;
    text-wrap: nowrap;
}

@media (max-width: 600px) {
    .news_container {
        max-height: 78px;
    }

    .news_date {
        font-size: 14px;
        width: 75px;
    }

    .news_text {
        font-size: 14px;
    }
}

/* Publications */
.paper_container {
    padding-left: 6px;
}

.paper_item {
    margin-top: 12px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    /*margin-bottom: 12px;*/
}

.paper_title {
    font-size: 18px;
    font-weight: bold;
}

.paper_text {
    font-size: 16px;
}

.paper_divider {
    padding-left: 14px;
    font-size: 20px;
    color: darkgrey;
    margin-top: 12px;
}

.paper_teaser {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.paper_link_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.paper_link_container a {
    text-decoration: none;
}

.paper_links {
    display: flex;
    gap: 5px;
    margin-top: 4px;
}

.paper_link {
    color: white;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    font-size: 15px;
    font-family: "Roboto Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.paper_link:hover {
    background: dodgerblue;
}

.acmdl {
    background: #121F27;
}

.arxiv {
    background: darkgreen;
}

.ieee {
    background: #006699;
}

.pdf {
    background: #cf0000;
}

.custom_font {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}


